
body {
    margin : 0px;
    /* font-family: 'Satoshi', */
}


* {
    border: 1px solid red;
}


/* @font-face {
    font-family: 'Satoshi';
    src: url('../../public/Satoshi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
  } */